@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@font-face {
  font-family: "TAN Pearl";
  src: url(./assets/fonts/TAN-PEARL.ttf) format("truetype");
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-family: "TAN PEARL", sans-serif;
  cursor: help;
  color: var(--clr-font);
  color: var(--clr-black);

}

:root {
  --clr-black: rgb(0, 0, 0);
  --clr-white: rgb(255, 255, 255);
  --clr-font: rgb(255, 255, 255);
  --clr-shadow: rgb(255, 255, 255);
  --clr-matrix-malachite: #00ff41;
  --clr-matrix-darkgreen: #003b00;
  --transition: all 0.9s linear;
  --spacing: 0.25rem;
  --radius: 0.25rem;
  --large-screen-width: 1170px;
  --small-screen-width: 90vw;
  --fixed-width: 50rem;
  -moz-tab-size: 4;
  tab-size: 4;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  text-decoration: none;
  list-style: none;
  letter-spacing: var(--spacing);
}

.main {
  width: 100%;
  height: 100vh;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(242, 200, 200, 0.5);
  /* background-color: rgba(187, 158, 158, 0.502); */
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.navbar {
  z-index: 100;
  filter: drop-shadow(0px 0px 16px var(--clr-shadow));
}

.navbar:hover {
  filter: drop-shadow(0px 0px 16px var(--clr-shadow));
}

.widget {
  border-radius: 60px;
  padding: 2rem;
  gap: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgb(255, 255, 255);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  /* border: 1px whitesmoke dotted; */
  /* filter: drop-shadow(0px 0px 16px var(--clr-shadow)); */

}

.widget:hover {
  filter: drop-shadow(0px 0px 16px var(--clr-shadow));
}

.logo {
  height: 1.2rem;
  opacity: 80%;
  will-change: filter;
  transition: filter 300ms;
  -webkit-filter: invert(1);
  filter: invert(0) drop-shadow(0 0 2em rgb(24, 69, 69)); 
  /* invert 1 for white logos */
}

.black-svg {
  filter: invert(100%);
}

.logo:hover {
  -webkit-filter: invert(1);
  filter: invert(1);
  filter: invert(1) drop-shadow(0 0 2em var(--clr-white));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(6) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes explore-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.explore {
  filter: drop-shadow(0 0 2em rgb(255, 255, 255));
}


@media (prefers-reduced-motion: no-preference) {
  .explore {
    animation: explore-spin infinite 17s linear;
  }
}

input {
  background: none;
  transition: border-color 0.3s, filter 0.3s;
}

::placeholder {
  text-align: center;
  color: var(--clr-white);
}

input:hover {
  border-color: #b5b0b1aa;
  filter: drop-shadow(0 0 2em #eea5a5aa);
}

button:hover {
  transform: scale(1.05);
}

.footer {
  margin-bottom: 6rem;
}

.footer-text {
  font-size: 10px;
}

@media screen and (max-width: 640px) {
  .footer-text {
    font-size: 10px;
  }
}
